/node_modules
/public/hot
/public/storage
/public/uploads/incidencias
/public/uploads/json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
*.zip
public/img/clientes/
/public/img/plantas/
public/img/users/
/storage/tareas/
